[Desktop Entry]
Version=1.0
Type=Application
Name=LiteWave
GenericName=Web Browser
Comment=Fast and private web browser
Exec=LiteWave %U
TryExec=LiteWave
Icon=litewave
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=LiteWave
